<div class="container"></div>
  <h1>Your Lists</h1>
  <ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
